@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select { /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 1.17;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #ffffff;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.centered {
  text-align: center;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.no-show {
  display: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 1200px;
}

.main-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

.title {
  color: #212121;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: #212121;
}

.img {
  display: block;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  text-decoration: none;
  color: #212121;
}

.logo__text {
  color: #2196f3;
}

.nav {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.nav__link {
  padding: 32px 0;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__contacts-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
}
.nav__contacts-link:hover .svg__phone, .nav__contacts-link:hover .svg__envelope, .nav__contacts-link:focus .svg__phone, .nav__contacts-link:focus .svg__envelope {
  fill: #2196f3;
}

.nav__list {
  display: flex;
  margin-left: 93px;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__contacts-list {
  display: flex;
  margin-left: auto;
}

.nav__contacts-item:not(:last-child) {
  margin-right: 50px;
}

.nav__contacts-item:not(:first-child) {
  margin-left: 50px;
}

.svg__envelope,
.svg__phone {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  position: relative;
  color: #2196f3;
}
.current::after {
  position: absolute;
  display: inline-block;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 4px;
  content: "";
  border-radius: 2px;
  background: #2196f3;
}

.hero {
  margin: 0 auto;
  padding: 200px 0;
  max-width: 1600рх;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/team.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  margin: 0 auto 30px auto;
  width: 696px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__button {
  width: 216px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.about {
  padding-top: 94px;
}

.about__list {
  display: flex;
  justify-content: space-between;
}

.about__text {
  width: 270px;
  line-height: 1.71;
}

.about__title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.about__svg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
}

.competence__thumb {
  position: relative;
}

.competence__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.competence__content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
}

.competence__text {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.staff {
  background-color: #f5f4fa;
}

.staff__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.staff__item {
  text-align: center;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.staff__title,
.staff__text {
  font-size: 16px;
  line-height: 1.19;
}

.staff__title {
  margin-bottom: 10px;
  font-weight: 500;
}

.staff__content {
  padding: 30px 0;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__svg:hover, .clients__svg:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.social__list {
  display: flex;
  gap: 10px;
}

.social__svg {
  display: flex;
  gap: 10px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__svg-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__svg-block:hover, .social__svg-block:focus {
  background: #2196f3;
}

.social__text {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.social__list--staff-margin {
  margin: 16px 32px 0 32px;
}

.social__item {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.social__item--white:hover .social__svg,
.social__item--white:focus .social__svg {
  fill: #ffffff;
}

.social__svg {
  fill: #ffffff;
}

.social__svg--staff {
  fill: #afb1b8;
}

.social--footer-margin {
  margin-left: 70px;
}

.social__text {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.footer--flex {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
}

.footer__logo-text {
  color: #2196f3;
}

.footer-subscribe {
  margin-left: 93px;
}

.footer-subscribe__input {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  background: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-subscribe__btn {
  display: inline-flex;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  padding: 10px 28px;
  cursor: pointer;
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.87;
}

.footer-subscribe__btn-icon {
  margin-left: 10px;
}

.footer-subscribe__text {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.address-section__address {
  font-style: normal;
  color: #ffffff;
}

.address-section__link {
  display: block;
  font-style: normal;
  line-height: 1.71;
  color: #ffffff;
  opacity: 0.6;
}

.address-section__address--lower-indent,
.address-section__item--lower-indent {
  margin-bottom: 9px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: visible;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal__btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px 8px 0 0;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal__close-svg {
  width: 11px;
  height: 11px;
}
.modal__btn:hover .modal__close-svg, .modal__btn:focus .modal__close-svg {
  fill: #2196f3;
}

.order-form {
  padding: 40px;
}

.order-form__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.order-form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.order-form__input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-form__input:focus-within {
  outline: none;
  border: 1px solid #2196f3;
}

.order-form__thumb {
  position: relative;
}

.order-form__svg {
  position: absolute;
  top: 40%;
  left: 14.27px;
  fill: #212121;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-form__input:focus + .order-form__svg {
  fill: #2196f3;
}

.order-form__textarea {
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.01em;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-form__textarea:focus-within {
  outline: none;
  border: 1px solid #2196f3;
}

.order-form__input[type=checkbox] {
  width: 16px;
  height: 15px;
  background: #212121;
}

.order-form__conditions {
  margin-bottom: 30px;
}

.order-form__link {
  color: #2196f3;
  margin-left: 4px;
}

.agreement {
  display: flex;
  justify-content: center;
  line-height: 1.71;
}

.agreement__label {
  display: flex;
  align-items: center;
}

.agreement__checkbox {
  position: absolute;
  visibility: hidden;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.agreement__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8.38px;
  border: 2px solid #212121;
  border-radius: 2px;
}
.agreement__checkbox:checked + .agreement__icon {
  background-color: #2196f3;
  border-color: transparent;
  background-image: url("../images/check.svg");
  background-size: contain;
  background-origin: border;
  background-repeat: no-repeat;
  background-position: center;
}

.order-form__btn {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  cursor: pointer;
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.87;
  text-align: center;
}

.portfolio__btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio__btn {
  min-width: 73px;
  min-height: 38px;
  padding-left: 22px;
  padding-right: 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: #f5f4fa;
  color: #212121;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__btn:hover, .portfolio__btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  border: 1px solid #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__btn-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.works-list__work-border {
  padding: 20px 0 20px 24px;
  border-width: 0 1px 1px 1px;
  border-color: #eeeeee;
  border-style: solid;
}

.works-list__link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.works-list__link:hover, .works-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-list__thumb {
  position: relative;
  overflow: hidden;
}

.work__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.works-list__item:hover .overlay {
  transform: translateY(0);
  opacity: 1;
}

.overlay__text {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */