.about {
  padding-top: 94px;
}

.about__list {
  display: flex;
  justify-content: space-between;
}

.about__text {
  width: 270px;
  line-height: 1.71;
}

.about__title {
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.about__svg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  width: 270px;
  height: 120px;

  background: $sub-second-color;
}
