.footer {
  padding: 60px 0;
  background-color: $sub-background;
}

.footer--flex {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;

  color: $white-color;
}

.footer__logo-text {
  color: $active-color;
}

.footer-subscribe {
  margin-left: 93px;
}

.footer-subscribe__input {
  padding-left: 16px;
  width: 358px;
  height: 50px;

  background: $sub-background;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-subscribe__btn {
  display: inline-flex;
  width: 200px;
  height: 50px;

  margin-left: 12px;
  padding: 10px 28px;
  cursor: pointer;
  background: $active-color;
  color: $white-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.87;
}

.footer-subscribe__btn-icon {
  margin-left: 10px;
}

.footer-subscribe__text {
  margin-bottom: 20px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: $white-color;
}

.address-section__address {
  font-style: normal;
  color: $white-color;
}

.address-section__link {
  display: block;

  font-style: normal;
  line-height: 1.71;
  color: $white-color;
  opacity: 0.6;
}

.address-section__address--lower-indent,
.address-section__item--lower-indent {
  margin-bottom: 9px;
}
