.order-form {
  padding: 40px;
}

.order-form__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: $sub-color;
}

.order-form__label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: $body-color;
}

.order-form__input {
  width: 100%;
  height: 40px;

  margin-bottom: 10px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms $cubic;

  &:focus-within {
    outline: none;
    border: 1px solid $active-color;
  }
}

.order-form__thumb {
  position: relative;
}

.order-form__svg {
  position: absolute;
  top: 40%;
  left: 14.27px;

  fill: $sub-color;
  transform: translateY(-50%);
  transition: fill 250ms $cubic;

  .order-form__input:focus + & {
    fill: $active-color;
  }
}

.order-form__textarea {
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;

  resize: none;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.01em;
  color: $body-color;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms $cubic;

  &:focus-within {
    outline: none;
    border: 1px solid $active-color;
  }
}

.order-form__input[type="checkbox"] {
  width: 16px;
  height: 15px;
  background: $sub-color;
}

.order-form__conditions {
  margin-bottom: 30px;
}

.order-form__link {
  color: $active-color;
  margin-left: 4px;
}

.agreement{
  display: flex;
  justify-content: center;
  line-height: 1.71;
}

.agreement__label {
  display: flex;
  align-items: center;
}

.agreement__checkbox {
  position: absolute;
  visibility: hidden;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.agreement__icon {
  display: inline-block;
  width: 16px;
  height: 15px;

  margin-right: 8.38px;
  border: 2px solid $sub-color;
  border-radius: 2px;

  .agreement__checkbox:checked + & {
    background-color: $active-color;
    border-color: transparent;
    background-image: url("../images/check.svg");
    background-size: contain;
    background-origin: border;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.order-form__btn {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;

  cursor: pointer;
  background: $active-color;
  color: $white-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.87;
  text-align: center;
}