.portfolio__btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio__btn {
  min-width: 73px;
  min-height: 38px;
  padding-left: 22px;
  padding-right: 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: $sub-second-color;
  color: $sub-color;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: color 250ms $cubic, background-color 250ms $cubic,
    border 250ms $cubic, box-shadow 250ms $cubic;

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $active-color;
    border: 1px solid $active-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio__btn-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.works-list__work-border {
  padding: 20px 0 20px 24px;

  border-width: 0 1px 1px 1px;
  border-color: #eeeeee;
  border-style: solid;
}

.works-list__link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms $cubic;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.works-list__thumb {
  position: relative;
  overflow: hidden;
}

.work__title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work__text {
  color: $body-color;
  font-size: 16px;
  line-height: 1.88;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms $cubic, opacity 250ms $cubic;

  .works-list__item:hover & {
    transform: translateY(0);
    opacity: 1;
  }
}

.overlay__text {
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: $white-color;
}
