
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-size: 14px;
  line-height: 1.17;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: $body-color;
  background-color: $white-color;
}

h1,
h2,
h3,
p{
  margin-top: 0;
  margin-bottom: 0;
}

.main-title {
    margin-bottom: 50px;
  
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
  }

.container {
  padding: 0 15px;
  margin: 0 auto;

  width: 1200px;
}

.list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  list-style: none;
}

.img {
  display: block;
}

.link{
  text-decoration: none;
}

.centered {
  text-align: center;
}

.link,
.title {
  color: $sub-color;
}


.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.no-show {
    display: none;
  }