
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-size: 14px;
  line-height: 1.17;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: $body-color;
  background-color: $white-color;
}

h1,
h2,
h3,
p{
  margin-top: 0;
  margin-bottom: 0;
}

.centered {
  text-align: center;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.no-show {
    display: none;
  }